@font-face {
  font-family: Whitney;
  src: url("./fonts/whitney-book.otf") format("opentype");
}
@font-face {
    font-family: WhitneyBold;
    src: url("./fonts/whitney-bold.otf") format("opentype");
}
/* 
reset 
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}
body {
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--light);
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
span {
  text-wrap: nowrap;
}

/*
VARS
*/
:root {
  --dark: #3d2318;
  --light: #fdf4d9;
  --grey: #a7a99a;
  --satgrey: #d7cbb5;
  --white: #fff;

  --fs-biggest: 4rem;
  --fs-bigger: 2.5rem;
  --fs-big: 2rem;
  --fs-normbig: 1.5rem;
  --fs-normmid: 1.2rem;
  --fs-normal: 1rem;
  --fs-normsmall: 1.75rem;
  --fs-small: 0.9375rem;

  /* font-families */
  --ff-serif: "source-serif-4-variable", sans-serif;
  --ff-whitney: "Whitney";
  --ff-whitneybold: "WhitneyBold";
}
.col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.section {
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.bold {
  font-weight: 600;
}

/*
cursor
*/
body {
  cursor: none;
  overflow-x: hidden;
  user-select: none;
}
a,
button {
  cursor: none;
}
#cursor {
  position: fixed;
  background-color: #000;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  z-index: 999;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
#cursor-ext {
  position: fixed;
  background-color: transparent;
  border: 1px solid #000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  z-index: 999;
  pointer-events: none;
  transition: 0.1s ease;
  transform: translate(-50%, -50%);
}
body:not(:hover) #cursor,
body:not(:hover) #cursor-ext {
  display: none;
}

/*
navbar
*/
.top {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.navbar {
  letter-spacing: 4px;
  justify-content: space-between;
  padding: 0px 50px;
}
.bar-item {
  float: left;
  margin-right: 40px;
  text-decoration: none;
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.logo {
  width: 30px;
  height: auto;
  margin-right: 20px;
}
.bar-home {
  align-items: center;
}
.title {
  font-size: var(--fs-big);
  font-family: var(--ff-serif);
  font-variation-settings: "opsz" 20, "wght" 100;
}
.bar-text {
  font-size: var(--fs-normal);
  font-family: var(--ff-serif);
  font-variation-settings: "wght" 350;
}

/*
home page
*/
#home {
  padding-top: 88px;
}
.home-container {
  position: relative;
  width: 80%;
  height: 90%;
  border: solid 2px var(--satgrey);
  padding: 30px;
}
.home-img {
  position: absolute;
  display: block;
  max-height: 80%;
  top: 10%;
  right: 5%;
}
.home-left {
  position: absolute;
  top: 30%;
  right: 50%;
  margin: 10px 30px;
}
.home-title {
  font-family: var(--ff-serif);
  font-size: var(--fs-biggest);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 1.2;
}
.home-subtitle {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 5px;
  text-align: center;
  font-size: var(--fs-normbig);
  font-family: var(--ff-serif);
}
.home-link {
  position: absolute;
  right: 50%;
  margin-top: 15px;
}
.home-button {
  height: 25px;
  width: auto;
}

/*
menu
*/
#menu {
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-family: var(--ff-serif);
  font-size: var(--fs-normbig);
  font-weight: 400;
  font-style: italic;
}
.menu-controls {
  margin-top: 20px;
  width: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-btn {
  background: var(--light);
  width: 40px;
  height: 40px;
  border: 0.4mm solid var(--dark);
  border-radius: 50%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.menu-book {
  width: 405px;
  height: 250px;
  position: relative;
  right: -210px;
}
.menu-pages {
  width: 100%;
  height: 100%;
  position: relative;
}
.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7mm;
  margin: 0 6px;

  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.25s;
  box-shadow: 1px 2px 0 0 rgba(0, 0, 0, 0.15), 1px 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.page-side {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 30px;
  align-items: flex-start;
  justify-content: center;
  font-family: var(--ff-whitney);
  border-radius: 7mm;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.page-header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.page-main-text{
    align-self: center;
    color: var(--light);

}
.page-main-title{
    align-self: center;
    font-size: var(--fs-biggest);
    font-family: var(--ff-whitneybold);
    color: var(--light);
    font-weight: 900;
}
.page-title, .page-main-title {
  font-size: var(--fs-bigger);
  font-weight: 600;
}
.page-price {
  font-size: var(--fs-normbig);
  line-height: 1;
}
.page-content {
  font-size: 1.3em;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  line-height: 1;
}
.page-footer {
  width: 100%;
  padding: 0 15px;
  height: 20px;
  margin-top: 15px;
  font-size: var(--fs-small);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.front {
  background: var(--satgrey);
  color: var(--dark);
  padding-left: 40px;
}
.back {
  background: var(--grey);
  color: var(--dark);
  padding-right: 40px;
  transform: rotateY(180deg);
}
.beads {
  position: absolute;
  top: 0;
  left: -12px;
  height: 220px;
  align-items: center;
  justify-content: space-evenly;
  z-index: 99;
}
.bead {
  width: 36px;
  height: 12px;
  background: var(--white);
  border-radius: 5mm;
  z-index: 99;
}

/*
books
*/
#books {
  background-color: var(--satgrey);
}
.books-title-container {
  padding-top: 88px;
  width: 100%;
  height: 28%;
  display: flex;
  justify-content: end;
}
.books-title {
  height: 100%;
  width: 90%;
  border-bottom: 10px solid var(--dark);
}
.books-title img {
  height: 100%;
  min-height: 70px;
  width: auto;
  object-fit: contain;
  position: relative;
  bottom: -3px;
}
.books-title-header{
  align-self: end;
  font-family: var(--ff-serif);
  color: var(--dark);
  font-size: var(--fs-biggest);
  margin-left: 30px;
  font-weight: 650;
  line-height: 1;
}
.books-content {
  width: 100%;
  height: 72%;
  display: flex;
  align-items: center;
  padding: 50px 100px;
}
.books-image{
    flex:0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    margin: 0px 50px;
}
.books-text {
    padding: 30px;
    flex:0.6;
    color: var(--dark);
    font-size: var(--fs-normmid);
    font-family: var(--ff-serif);
}
.books-text > p {
    &:not(:last-child){margin-bottom: 50px;}
}

/*
contact page
*/
#contact{
    margin-top: 40px;
}
.contact-img {
  height: 100%;
  width: auto;
}
.contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-title {
  font-size: var(--fs-bigger);
  font-family: var(--ff-serif);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.contact-text p {
  color: var(--dark);
  font-family: var(--ff-serif);
  font-size: var(--fs-normal);
  margin-bottom: 20px;
}

/*
phones
*/
@media (max-width: 850px) {
  .hide {
    display: none !important;
  }
}
